.footer {
  background-color: #000;
  color: #fff;
  padding: 60px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 40px;
}

/* ----- LEFT SIDE ----- */
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  width: 200px;
  height: auto;
  margin-bottom: 5px;
}

.footer-copy {
  font-size: 0.8rem;
  color: #999;
  margin-top: 35px;
}

/* ----- RIGHT SIDE ----- */
.footer-right {
  display: flex;
  gap: 120px; /* spacing between two columns */
  margin-top: 15px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 400;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: #75b4b4;
}

/* ----- RESPONSIVE ----- */
@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-left {
    align-items: center;
  }

  .footer-right {
    margin-top: 40px;
    gap: 60px;
  }
}
